<div>
    <div>
        {{#each places}}
        <div style="width:20%; float:left;position:sticky;paddig-left:50px">
            <div class="col s6 m3">
                <div class="card">
                    <div class="card-image">
                        <input type="hidden" value="{{_id}}" />
                        <img src="http://materializecss.com/images/sample-1.jpg">
                        <span class="card-title">{{Name}}</span>

                    </div>
                    <p class="card-content">Qty: {{Quantity}}</p>
                    <p class="card-content">Price : {{Details.Price}}</p>
                    <div style="padding-left: 125px; padding-bottom: 30px">
                        <form method="POST" action="/places/{{_id}}?_method=DELETE">
                            <button type="submit" class="card button">Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div style="width:50%; float:right;">
        <table border="1" style="width:400px">
            <th colspan="3">
                Itmes
            </th>
            {{#each places}}
            <tr>
                <td>{{Name}}</td>
                <td>Qty: {{Quantity}}</td>
                <td>Price: {{Details.Price}}</td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="2"> Total </td>
                <td>Price : {{total}}</td>
            </tr>
        </table>
    </div>
</div>

<div style="width:200px; padding-left:30px">
    <form class="form" action="/places" method="POST">
        <label>
            Name :
            <input type="text" name="Name" autocomplete="off">
        </label>
        <label>
            Quantity :
            <input type="number" name="Quantity">
        </label>
        <label>
            Price :
            <input type="number" name="Price">
        </label>
        <input type="submit" class="card button">&nbsp;&nbsp;&nbsp;<input class="card button" type="reset">
    </form>
</div>